<header id="page-header" style="background-image:url('{{model.pictureBackground}}')">
	{{#if editmode }}
	{{#file-picker fileLoaded="saveProfileHeaderImage" preview=false readAs="readAsDataURL"}}
	<i id="edit-header" class='fa fa-camera'></i>
	{{/file-picker}}
{{/if}}
	<section class="user-info dark-theme">
		<section class='profile-picture' style="background-image:url('{{model.picture}}')">
			{{#if editmode }}
			{{#file-picker fileLoaded="saveProfileImage" preview=false readAs="readAsDataURL"}}
			<i id="edit-profilepicture" class='fa fa-camera'></i>
			{{/file-picker}}
			{{/if}}
		</section>
		<br />
		<h2 class='username'>{{model.fullName}}<label>{{model.entity}}</label></h2>

		{{#unless model.entityMkb }}
		{{#editable-group active=editmode}}
		<h4>{{editable-item type="text" value=model.education.name active=editmode placeholder="Opleiding"}}</h4>
		{{editable-item type="text" value=model.education.institute active=editmode placeholder="Schoonnaam"}}
		{{editable-item type="text" value=model.education.location.city active=editmode placeholder="Stad opleiding"}}
		{{editable-item hidden="hidden" type="text" value=model.education.location.postal active=editmode placeholder="Postcode opleiding"}}
		{{/editable-group}}

		{{else}}

		{{#editable-group active=editmode}}
		<h4>{{editable-item type="text" value=model.companies.0.branche active=editmode placeholder="Branche naam"}}</h4>
		{{editable-item type="text" value=model.companies.0.name active=editmode placeholder="Bedrijfsnaam"}}
		{{editable-item type="text" value=model.companies.0.location.city active=editmode placeholder="Vestiging stad"}}
		{{editable-item hidden="hidden" type="text" value=model.companies.0.location.postal active=editmode placeholder="Vestiging postcode"}}
		{{/editable-group}}
		{{/unless}}

	</section>

	{{#if editmode}}
	<button class='edit' {{action "exitEditMode"}}>opslaan <i class="fa fa-pencil"></i></button>
	{{else}}
	<button class='edit' {{action "enterEditMode"}}>Bewerken <i class="fa fa-pencil"></i></button>
	{{/if}}

	{{log this}}
</header>

<section id='page-content'>

	{{#unless model.entityMkb }}
		<header><h3>{{model.firstName}}, aangenaam</h3></header>
		{{#editable-group active=editmode}}
		<p>{{editable-item type="textarea" value=model.story active=editmode}}</p>
		{{/editable-group}}
	{{/unless}}

	{{#unless model.entityStudent }}
		<header><h3>Over {{model.companies.0.name}}</h3></header>
		{{#editable-group active=editmode}}
		<p>{{editable-item type="textarea" value=model.companies.0.description active=editmode}}</p>
		{{/editable-group}}
	{{/unless}}

	{{#unless model.entityMkb }}
	{{#editable-group active=editmode}}
	<header><h3>Kwaliteiten</h3></header>
	<section id="qualities" class="labels">

		{{#each quality in model.qualities }}
		{{editable-item type="label" value=quality active=editmode}}
		{{/each}}

	</section>
	{{/editable-group}}
	{{/unless}}
</section>

<aside id='page-sidebar' >

	{{#if model.interests}}

	<section>
		<header><h3>Interesses</h3></header>
		<ul class='extended'>

			{{#each interest in model.interests }}
			{{#editable-group active=editmode}}

			<li>
				<h4>
					{{interest.name}}
				</h4>
				<p>
					{{editable-item type="date" value=interest.period.from active=editmode}}
					t/m
					{{editable-item type="date" value=interest.period.till active=editmode}}
				</p>
			</li>

			{{/editable-group}}
			{{/each}}
		</ul>
	</section>
	{{/if}}

	<section>
		<header><h3>Overige informatie</h3></header>
		<ul class='extended'>

			{{#editable-group active=editmode}}

			{{#if entityStudent }}
			<li>
				<h4>Honoursprogramma</h4>
				<p>{{editable-item type="text" value=model.education.honoursProgram active=editmode placeholder="Programma naam"}}</p>
			</li>
			{{/if}}

			<li>
				<h4>Woonplaats</h4>
				<p>
					{{editable-item type="text" value=model.city active=editmode placeholder="Plaatsnaam"}}
					{{editable-item hidden="hidden" type="text" value=model.postal active=editmode placeholder="Postcode"}}
				</p>

			</li>

			{{/editable-group}}
		</ul>
	</section>
</aside>
