<aside id='page-left' class='viewslider' >
	<section class='slideContainer'>

		<section id='index' class='slide-0'>
			<!--<i id="edit-btn" {{action 'changeView' 'page-left' 1 }} class="fa fa-cog"></i>-->

			{{#file-picker
    accept=".jpg,.jpeg,.gif,.png"
    fileLoaded="uploadProfilePicture"
    readAs="readAsDataURL"
                }}
			Klik hier of sleep een afbeelding
			{{/file-picker}}



            <h2>{{model.education}}</h2>
            <h3>{{model.institute}}</h3>

            <!-- zp'er
            <h2>{{model.company.name}}</h2>
            <h3>{{model.company.branche}}</h3>
            -->

            <p>{{model.entity}}</p>

            <hr>

            <h4><i class="fa fa-graduation-cap"></i> Honoursprogramma</h4>
            <p>{{model.honoursProgram}}</p>

            <h4><i class="fa fa-heart"></i> Interesses</h4>

            {{#each interest in model.interests}}
            <p><strong>{{interest.name}}</strong><br>
                {{interest.period.from}} t/m {{interest.period.to}}<br>
                {{interest.timeAvailable}} uur per week
            </p>
            {{/each}}


            <h4><i class="fa fa-location-arrow"></i> Woonplaats</h4>
            <p>{{model.city}}</p>

            <h4><i class="fa fa-suitcase"></i> Bedrijfsinformatie</h4>
            <p>{{model.company.description}}</p>

            <h4><i class="fa fa-location-arrow"></i> Vestigingslocatie</h4>
            <p>{{model.company.location.postal}} {{model.company.location.city}}</p>

		</section>

		<section id='edit' class='slide-1'>
			<!-- <i id="back-btn" {{action 'changeView' 'page-left' 0 }} class="fa fa-chevron-circle-left"></i> -->
			<h4>Instellingen</h4>

			<form method="post" {{action "updatePerson" on="submit"}}>

				Voornaam
				{{input value=model.firstName type="text" placeholder="Voornaam" class="txt-field"}}<br>
				Tussenvoegsel
				{{input value=model.middleName type="text" placeholder="Tussenvoegsel" class="txt-field"}}<br>
				Achternaam
				{{input value=model.lastName type="text" placeholder="Achternaam" class="txt-field"}}<br>
				Geboortedatum
                {{date-picker value=model.birthDay valueFormat='YYYY-MM-DD' format='YYYY-MM-DD'}}<br>

				<h4>Locatiegegevens</h4>
				Adres:
				{{input value=model.address type="text" placeholder="adres" class="txt-field"}}<br>
				Postcode:
				{{input value=model.postalCode type="text" placeholder="postcode" class="txt-field"}}<br>
				Plaats
				{{input value=model.town type="text" placeholder="plaats" class="txt-field"}}<br>

				<h4>Beschikbaarheid</h4>
				Van:
				{{date-picker value=model.date date=mydate valueFormat='YYYY-MM-DD' format='DD-MM-YYYY' yearRange="-70,0"}}<br>
				tot:
				{{date-picker value=model.date date=mydate valueFormat='YYYY-MM-DD' format='DD-MM-YYYY' yearRange="-70,0"}}<br>

				<button type="submit" class="btn add-project-btn">Wijzigen <i class="fa fa-pencil"></i></button>
			</form>
		</section>
	</section>
</aside>

<section id='page-content'>

  <h3>Verhaal</h3>
  {{ model.story }}

	<section id='qualities'>
        <h3>Kwaliteiten</h3>
		<ul>
			{{#each quality in model.qualities}}
			<li>{{ quality }} <!-- <i class="fa fa-times"></i>--> </li>
			{{/each}}
		</ul>
      <!--
        Kwaliteit toevoegen<br>

        {{input value=quality type="text" placeholder="Type hier een nieuwe kwaliteit"}}<br>
		<span class="add-quality-btn">Toevoegen</span>

        <button>Annuleren</button>
        <button>Opslaan <i class="fa fa-heart"></i></button>
  -->
	</section>
</section>
