<header id="page-header" style="background-image:url('{{model.pictureBackground}}')">
	<section class="user-info dark-theme">

		<section class='profile-picture' style="background-image:url('{{model.picture}}')"></section>
		<h2 class='username'>{{model.fullName}}<label>{{model.entity}}</label></h2>
		<h4>{{model.education.education}}</h4>
		<p>{{model.education.institute}}, {{model.education.location.city}}</p>
	</section>
	<button class='edit'>Bewerken <i class="fa fa-pencil"></i></button>
</header>

<section id='page-content'>
	<header><h3>Pagina opzet</h3></header>
	<p>{{model.story}}</p>
	<header><h3>Kwaliteiten</h3></header>
	<section id="qualities" class="labels">

		{{#each quality in model.qualities }}
		<label>{{quality}}</label>
		{{/each}}

	</section>
</section>

<aside id='page-sidebar' >
	<section>
		<header><h3>Interesses</h3></header>
		<ul class='extended'>

			{{#each interest in model.interests }}
			<li><h4>{{interest.name}}</h4><p>{{interest.period.from}} - {{interest.period.till}}</p></li>
			{{/each}}

		</ul>
	</section>
	<section>
		<header><h3>Overige informatie</h3></header>
		<ul class='extended'>

			{{#if model.education.honoursProgram}}
			<li><h4>Honoursprogramma</h4><p>{{model.education.honoursProgram}}</p></li>
			{{/if}}

			<li><h4>Woonplaats</h4><p>Enschede</p></li>
		</ul>
	</section>
</aside>
