<section id="login" class="panel">
	<h3>Inloggen</h3>

	{{#if errors}}
	<div class='messagebox'>Uw account dient nog gevalideerd te worden. Dit zal binnen enkele werkdagen gebeuren. U ontvangt per e-mail een bericht zodra dit is voltooid.</div>
	{{/if}}

	<form method="post" {{action "login" on="submit"}}>

		<div {{bind-attr class="errors.email:error"}}>
			<label><i class="fa fa-user"></i>
				{{input value=email type="text" placeholder="E-mailadres"}}

			</label>
			<span class="message">{{errors.email}}</span>
		</div>
		<div {{bind-attr class="errors.password:error"}}>
		<label><i class="fa fa-lock"></i>
			{{input value=password type="password" placeholder="Wachtwoord"}}
		</label>
			<span class="message">{{errors.password}}</span>
		</div>
		<!-- {{input type="checkbox" name="remember" checked=remember}} Onthouden -->
		<button>Login <i class="fa fa-sign-in"></i></button>
	</form>

	<footer>
		{{#link-to 'registration'}}Nog geen account?<i class="fa fa-caret-right"></i>{{/link-to}}
	</footer>

</section>
