<section id="login" class="panel">
	<h3>Inloggen</h3>

	{{#if errors.message}}
		<div class='messagebox'>
			{{error-message key=errors.message field="account"}}
		</div>
	{{/if}}

	<form method="post" {{action "login" on="submit"}}>

		<div {{bind-attr class="errors.email:error"}}>
			<label><i class="fa fa-user"></i>
				{{input value=email type="text" placeholder="E-mailadres"}}

			</label>
			{{error-message key=errors.email}}
		</div>
		<div {{bind-attr class="errors.password:error"}}>
		<label><i class="fa fa-lock"></i>
			{{input value=password type="password" placeholder="Wachtwoord"}}
		</label>
			{{error-message key=errors.password}}
		</div>
		<!-- {{input type="checkbox" name="remember" checked=remember}} Onthouden -->
		<button>Login <i class="fa fa-sign-in"></i></button>
	</form>

	<footer>
		{{#link-to 'registration'}}Nog geen account?<i class="fa fa-caret-right"></i>{{/link-to}}
	</footer>

</section>
